In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
match=pd.read_csv("matches.csv")
match.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
match.shape

(756, 18)

In [5]:
delivery=pd.read_csv("deliveries.csv")

In [6]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [7]:
delivery.shape

(179078, 21)

In [8]:
match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   Season           756 non-null    object
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(4), object(14)
memory usage: 106.4+ KB

In [9]:
match=match.dropna(subset=["city"])

In [10]:
delivery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [11]:
match=match[match["dl_applied"]==0]

In [12]:
match

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [13]:
delivery["cumulative_sum"]=delivery.groupby(["match_id","inning"]).cumsum(numeric_only='True')["total_runs"]#this is done as it will be used later to calculate runs left

In [14]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,cumulative_sum
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,NaN,NaN,NaN,0
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,NaN,NaN,NaN,0
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,4,0,4,NaN,NaN,NaN,4
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,NaN,NaN,NaN,4
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,2,2,NaN,NaN,NaN,6

In [15]:
df=delivery.groupby(["match_id","inning"]).sum(numeric_only="True")["total_runs"] #we did numeric_only = true as otherwise it will give warning

In [16]:
df

match_id  inning
1         1         207
          2         172
2         1         184
          2         187
3         1         183
                   ...
11413     2         170
11414     1         155
          2         162
11415     1         152
          2         157
Name: total_runs, Length: 1528, dtype: int64

In [17]:
df=df.reset_index()

In [18]:
df=df[df["inning"]==1]

In [19]:
df

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [20]:
match=match.merge(df[["match_id","total_runs"]],left_on="id" ,right_on="match_id")

In [21]:
match.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,157

In [22]:
match[["match_id","city","team1","team2","winner","venue","total_runs"]]

,match_id,city,team1,team2,winner,venue,total_runs
0,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,"Rajiv Gandhi International Stadium, Uppal",207
1,2,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,Maharashtra Cricket Association Stadium,184
2,3,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,Saurashtra Cricket Association Stadium,183
3,4,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,Holkar Cricket Stadium,163
4,5,Bangalore,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,M Chinnaswamy Stadium,157
...,...,...,...,...,...,...,...
725,11347,Mumbai,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,Wankhede Stadium,143
726,11412,Chennai,Chennai Super Kings,Mumbai Indians,Mumbai Indians,M. A. Chidambaram Stadium,136
727,11413,Visakhapatnam,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,ACA-VDCA Stadium,171
728,11414,Visakhapatnam,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,ACA-VDCA Stadium,155
729,11415,Hyderabad,Mumbai Indians,Chennai Super Kings,Mumbai Indians,Rajiv Gandhi Intl. Cricket Stadium,152

In [23]:
new_match=match[["match_id","city","team1","team2","winner","venue","total_runs"]]

In [24]:
new_match.head()

,match_id,city,team1,team2,winner,venue,total_runs
0,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,"Rajiv Gandhi International Stadium, Uppal",207
1,2,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,Maharashtra Cricket Association Stadium,184
2,3,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,Saurashtra Cricket Association Stadium,183
3,4,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,Holkar Cricket Stadium,163
4,5,Bangalore,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,M Chinnaswamy Stadium,157

In [25]:
new_match["team1"].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [26]:
teams=[
    "Sunrisers Hyderabad","Mumbai Indians",
    "Royal Challengers Bangalore","Kolkata Knight Riders",
    "Kings XI Punjab","Chennai Super Kings","Rajasthan Royals",
    "Delhi Capitals"
] # as many teams are not playing currently

In [27]:
match["team2"]=match["team1"].str.replace("Delhi Daredevils","Delhi Capitals")
match["team1"]=match["team1"].str.replace("Delhi Daredevils","Delhi Capitals")
match["team2"]=match["team1"].str.replace("Deccan Chargers","Sunrisers Hyderabad")
match["team1"]=match["team1"].str.replace("Deccan Chargers","Sunrisers Hyderabad")
new_match=new_match[new_match["team1"].isin(teams)]
new_match=new_match[new_match["team2"].isin(teams)]

In [28]:
new_match.head()

,match_id,city,team1,team2,winner,venue,total_runs
0,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,"Rajiv Gandhi International Stadium, Uppal",207
6,7,Mumbai,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,Wankhede Stadium,178
7,8,Indore,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,Holkar Cricket Stadium,148
9,10,Mumbai,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,Wankhede Stadium,158
10,11,Kolkata,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,Eden Gardens,170

In [29]:
new_match["team1"].unique()

array(['Sunrisers Hyderabad', 'Kolkata Knight Riders',
       'Royal Challengers Bangalore', 'Kings XI Punjab', 'Mumbai Indians',
       'Chennai Super Kings', 'Rajasthan Royals', 'Delhi Capitals'],
      dtype=object)

In [30]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,cumulative_sum
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,NaN,NaN,NaN,0
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,NaN,NaN,NaN,0
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,4,0,4,NaN,NaN,NaN,4
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,NaN,NaN,NaN,4
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,2,2,NaN,NaN,NaN,6

In [31]:
new_match=new_match.drop(["team1","team2","venue"],axis=1)

In [32]:
new_match.head()

    match_id       city                 winner  total_runs
0          1  Hyderabad    Sunrisers Hyderabad         207
6          7     Mumbai         Mumbai Indians         178
7          8     Indore        Kings XI Punjab         148
9         10     Mumbai         Mumbai Indians         158
10        11    Kolkata  Kolkata Knight Riders         170

In [33]:
delivery=delivery.merge(new_match,on="match_id")

In [34]:
delivery=delivery[delivery["inning"]==2]

In [35]:
delivery

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,batsman_runs,extra_runs,total_runs_x,player_dismissed,dismissal_kind,fielder,cumulative_sum,city,winner,total_runs_y
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,1,0,1,NaN,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,0,NaN,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,0,NaN,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,2,0,2,NaN,NaN,NaN,3,Hyderabad,Sunrisers Hyderabad,207
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,4,0,4,NaN,NaN,NaN,7,Hyderabad,Sunrisers Hyderabad,207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100932,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,1,0,1,NaN,NaN,NaN,152,Hyderabad,Mumbai Indians,152
100933,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,2,0,2,NaN,NaN,NaN,154,Hyderabad,Mumbai Indians,152
100934,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,1,0,1,SR Watson,run out,KH Pandya,155,Hyderabad,Mumbai Indians,152
100935,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,2,0,2,NaN,NaN,NaN,157,Hyderabad,Mumbai Indians,152
100936,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,SN Thakur,lbw,NaN,157,Hyderabad,Mumbai Indians,152

In [36]:
delivery["runs_left"]=delivery["total_runs_y"]-delivery["cumulative_sum"]

In [37]:
delivery

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,extra_runs,total_runs_x,player_dismissed,dismissal_kind,fielder,cumulative_sum,city,winner,total_runs_y,runs_left
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,0,1,NaN,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,NaN,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,NaN,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,0,2,NaN,NaN,NaN,3,Hyderabad,Sunrisers Hyderabad,207,204
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,0,4,NaN,NaN,NaN,7,Hyderabad,Sunrisers Hyderabad,207,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100932,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,1,NaN,NaN,NaN,152,Hyderabad,Mumbai Indians,152,0
100933,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,2,NaN,NaN,NaN,154,Hyderabad,Mumbai Indians,152,-2
100934,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,1,SR Watson,run out,KH Pandya,155,Hyderabad,Mumbai Indians,152,-3
100935,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,2,NaN,NaN,NaN,157,Hyderabad,Mumbai Indians,152,-5
100936,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,SN Thakur,lbw,NaN,157,Hyderabad,Mumbai Indians,152,-5

In [38]:
delivery["balls_left"]=126-(delivery["over"]*6 + delivery["ball"])

In [39]:
delivery

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,total_runs_x,player_dismissed,dismissal_kind,fielder,cumulative_sum,city,winner,total_runs_y,runs_left,balls_left
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,1,NaN,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206,119
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,0,NaN,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206,118
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,0,NaN,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206,117
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,2,NaN,NaN,NaN,3,Hyderabad,Sunrisers Hyderabad,207,204,116
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,4,NaN,NaN,NaN,7,Hyderabad,Sunrisers Hyderabad,207,200,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100932,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,1,NaN,NaN,NaN,152,Hyderabad,Mumbai Indians,152,0,4
100933,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,2,NaN,NaN,NaN,154,Hyderabad,Mumbai Indians,152,-2,3
100934,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,1,SR Watson,run out,KH Pandya,155,Hyderabad,Mumbai Indians,152,-3,2
100935,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,2,NaN,NaN,NaN,157,Hyderabad,Mumbai Indians,152,-5,1
100936,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,SN Thakur,lbw,NaN,157,Hyderabad,Mumbai Indians,152,-5,0

In [40]:
delivery["player_dismissed"]=delivery["player_dismissed"].fillna("0")
delivery["player_dismissed"]=delivery["player_dismissed"].apply(lambda x:x if x=="0" else "1")
delivery["player_dismissed"]=delivery["player_dismissed"].astype(int)
delivery["player_dismissed"]=delivery.groupby(["match_id"]).cumsum(numeric_only="True")["player_dismissed"]
delivery["wickets_rem"]=10-delivery["player_dismissed"]

In [41]:
delivery

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,player_dismissed,dismissal_kind,fielder,cumulative_sum,city,winner,total_runs_y,runs_left,balls_left,wickets_rem
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,0,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206,119,10
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,0,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206,118,10
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,0,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206,117,10
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,0,NaN,NaN,3,Hyderabad,Sunrisers Hyderabad,207,204,116,10
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,0,NaN,NaN,7,Hyderabad,Sunrisers Hyderabad,207,200,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100932,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,5,NaN,NaN,152,Hyderabad,Mumbai Indians,152,0,4,5
100933,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,5,NaN,NaN,154,Hyderabad,Mumbai Indians,152,-2,3,5
100934,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,6,run out,KH Pandya,155,Hyderabad,Mumbai Indians,152,-3,2,4
100935,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,6,NaN,NaN,157,Hyderabad,Mumbai Indians,152,-5,1,4
100936,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,7,lbw,NaN,157,Hyderabad,Mumbai Indians,152,-5,0,3

In [42]:
delivery["crr"]=(delivery["cumulative_sum"]*6)/(120-delivery["balls_left"])

In [43]:
delivery

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,dismissal_kind,fielder,cumulative_sum,city,winner,total_runs_y,runs_left,balls_left,wickets_rem,crr
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206,119,10,6.000000
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206,118,10,3.000000
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206,117,10,2.000000
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,NaN,3,Hyderabad,Sunrisers Hyderabad,207,204,116,10,4.500000
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,NaN,7,Hyderabad,Sunrisers Hyderabad,207,200,115,10,8.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100932,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,NaN,NaN,152,Hyderabad,Mumbai Indians,152,0,4,5,7.862069
100933,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,NaN,NaN,154,Hyderabad,Mumbai Indians,152,-2,3,5,7.897436
100934,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,run out,KH Pandya,155,Hyderabad,Mumbai Indians,152,-3,2,4,7.881356
100935,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,NaN,NaN,157,Hyderabad,Mumbai Indians,152,-5,1,4,7.915966
100936,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,lbw,NaN,157,Hyderabad,Mumbai Indians,152,-5,0,3,7.850000

In [44]:
delivery.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,dismissal_kind,fielder,cumulative_sum,city,winner,total_runs_y,runs_left,balls_left,wickets_rem,crr
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206,119,10,6.000000
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206,118,10,3.000000
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206,117,10,2.000000
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,NaN,3,Hyderabad,Sunrisers Hyderabad,207,204,116,10,4.500000
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,NaN,7,Hyderabad,Sunrisers Hyderabad,207,200,115,10,8.400000
130,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,6,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,NaN,11,Hyderabad,Sunrisers Hyderabad,207,196,114,10,11.000000
131,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,1,CH Gayle,Mandeep Singh,B Kumar,0,...,NaN,NaN,11,Hyderabad,Sunrisers Hyderabad,207,196,113,10,9.428571
132,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,2,CH Gayle,Mandeep Singh,B Kumar,0,...,NaN,NaN,11,Hyderabad,Sunrisers Hyderabad,207,196,112,10,8.250000
133,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,3,CH Gayle,Mandeep Singh,B Kumar,0,...,NaN,NaN,12,Hyderabad,Sunrisers Hyderabad,207,195,111,10,8.000000
134,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,4,Mandeep Singh,CH Gayle,B Kumar,0,...,NaN,NaN,12,Hyderabad,Sunrisers Hyderabad,207,195,110,10,7.200000

In [45]:
delivery["rrr"]=(delivery["runs_left"]*6)/delivery["balls_left"]

In [46]:
delivery

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,fielder,cumulative_sum,city,winner,total_runs_y,runs_left,balls_left,wickets_rem,crr,rrr
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206,119,10,6.000000,10.386555
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206,118,10,3.000000,10.474576
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,1,Hyderabad,Sunrisers Hyderabad,207,206,117,10,2.000000,10.564103
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,3,Hyderabad,Sunrisers Hyderabad,207,204,116,10,4.500000,10.551724
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,7,Hyderabad,Sunrisers Hyderabad,207,200,115,10,8.400000,10.434783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100932,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,NaN,152,Hyderabad,Mumbai Indians,152,0,4,5,7.862069,0.000000
100933,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,NaN,154,Hyderabad,Mumbai Indians,152,-2,3,5,7.897436,-4.000000
100934,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,KH Pandya,155,Hyderabad,Mumbai Indians,152,-3,2,4,7.881356,-9.000000
100935,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,NaN,157,Hyderabad,Mumbai Indians,152,-5,1,4,7.915966,-30.000000
100936,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,NaN,157,Hyderabad,Mumbai Indians,152,-5,0,3,7.850000,-inf

In [47]:
def convert(obj):
    if obj["batting_team"]==obj["winner"]:
        return 1
    else:
        return 0

In [48]:
delivery["winner"]=delivery.apply(convert,axis=1)

In [49]:
delivery

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,fielder,cumulative_sum,city,winner,total_runs_y,runs_left,balls_left,wickets_rem,crr,rrr
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,NaN,1,Hyderabad,0,207,206,119,10,6.000000,10.386555
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,1,Hyderabad,0,207,206,118,10,3.000000,10.474576
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,1,Hyderabad,0,207,206,117,10,2.000000,10.564103
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,3,Hyderabad,0,207,204,116,10,4.500000,10.551724
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,7,Hyderabad,0,207,200,115,10,8.400000,10.434783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100932,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,NaN,152,Hyderabad,0,152,0,4,5,7.862069,0.000000
100933,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,NaN,154,Hyderabad,0,152,-2,3,5,7.897436,-4.000000
100934,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,KH Pandya,155,Hyderabad,0,152,-3,2,4,7.881356,-9.000000
100935,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,NaN,157,Hyderabad,0,152,-5,1,4,7.915966,-30.000000
100936,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,NaN,157,Hyderabad,0,152,-5,0,3,7.850000,-inf

In [50]:
delivery_new=delivery[["batting_team","bowling_team","city","winner","total_runs_y","runs_left","balls_left","wickets_rem","crr","rrr"]]

In [51]:
delivery_new

,batting_team,bowling_team,city,winner,total_runs_y,runs_left,balls_left,wickets_rem,crr,rrr
125,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,0,207,206,119,10,6.000000,10.386555
126,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,0,207,206,118,10,3.000000,10.474576
127,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,0,207,206,117,10,2.000000,10.564103
128,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,0,207,204,116,10,4.500000,10.551724
129,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,0,207,200,115,10,8.400000,10.434783
...,...,...,...,...,...,...,...,...,...,...
100932,Chennai Super Kings,Mumbai Indians,Hyderabad,0,152,0,4,5,7.862069,0.000000
100933,Chennai Super Kings,Mumbai Indians,Hyderabad,0,152,-2,3,5,7.897436,-4.000000
100934,Chennai Super Kings,Mumbai Indians,Hyderabad,0,152,-3,2,4,7.881356,-9.000000
100935,Chennai Super Kings,Mumbai Indians,Hyderabad,0,152,-5,1,4,7.915966,-30.000000
100936,Chennai Super Kings,Mumbai Indians,Hyderabad,0,152,-5,0,3,7.850000,-inf

In [52]:
delivery_new["total_runs"]=delivery_new["total_runs_y"] #this is giving error as  Pandas is warning you that you might be modifying a copy rather than the original DataFrame. To avoid this warning, you should use the .loc

C:\Users\satra\AppData\Local\Temp\ipykernel_29560\3506128637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_new["total_runs"]=delivery_new["total_runs_y"] #this is giving error as  Pandas is warning you that you might be modifying a copy rather than the original DataFrame. To avoid this warning, you should use the .loc

In [53]:
delivery_new=delivery_new[delivery_new["runs_left"]>=0]

In [54]:
delivery_new=delivery_new.sample(delivery_new.shape[0])#this shuffles the whole dataframe

In [55]:
delivery_new.head()

,batting_team,bowling_team,city,winner,total_runs_y,runs_left,balls_left,wickets_rem,crr,rrr,total_runs
79568,Mumbai Indians,Sunrisers Hyderabad,Mumbai,0,130,103,79,7,3.951220,7.822785,130
64375,Royal Challengers Bangalore,Rajasthan Royals,Ahmedabad,1,130,94,92,9,7.714286,6.130435,130
20587,Mumbai Indians,Kolkata Knight Riders,Mumbai,1,155,111,97,10,11.478261,6.865979,155
2819,Kolkata Knight Riders,Sunrisers Hyderabad,Hyderabad,0,209,55,7,5,8.176991,47.142857,209
20640,Mumbai Indians,Kolkata Knight Riders,Mumbai,1,155,59,46,9,7.783784,7.695652,155

In [56]:
delivery_new["result"]=delivery_new["winner"]

In [57]:
delivery_new=delivery_new.drop(["winner","total_runs_y"],axis=1)

In [58]:
delivery_new.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_rem,crr,rrr,total_runs,result
79568,Mumbai Indians,Sunrisers Hyderabad,Mumbai,103,79,7,3.951220,7.822785,130,0
64375,Royal Challengers Bangalore,Rajasthan Royals,Ahmedabad,94,92,9,7.714286,6.130435,130,1
20587,Mumbai Indians,Kolkata Knight Riders,Mumbai,111,97,10,11.478261,6.865979,155,1
2819,Kolkata Knight Riders,Sunrisers Hyderabad,Hyderabad,55,7,5,8.176991,47.142857,209,0
20640,Mumbai Indians,Kolkata Knight Riders,Mumbai,59,46,9,7.783784,7.695652,155,1

In [59]:
delivery_new.isnull().sum()

batting_team    0
bowling_team    0
city            0
runs_left       0
balls_left      0
wickets_rem     0
crr             0
rrr             5
total_runs      0
result          0
dtype: int64

In [60]:
delivery_new.dropna(inplace=True)

In [61]:
delivery_new = delivery_new.replace([np.inf, -np.inf], np.nan)  # Replacing inf with NaN in column 'A'
delivery_new.dropna(inplace=True)

In [62]:
x=delivery_new.iloc[:,:-1]
y=delivery_new.iloc[:,-1]

In [63]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [64]:
 x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [65]:
x_train.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_rem,crr,rrr,total_runs
75873,Chennai Super Kings,Mumbai Indians,Mumbai,158,111,10,7.333333,8.540541,169
68954,Kolkata Knight Riders,Mumbai Indians,Mumbai,64,41,7,8.126582,9.365854,171
41933,Rajasthan Royals,Kings XI Punjab,Jaipur,2,5,6,6.365217,2.400000,124
57190,Kolkata Knight Riders,Sunrisers Hyderabad,Hyderabad,33,22,7,6.673469,9.000000,142
4941,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,145,36,1,5.500000,24.166667,222

In [66]:
trf=ColumnTransformer([
    ("trf",OneHotEncoder(sparse=False,drop="first"),["batting_team","bowling_team","city"])
],remainder="passthrough") #A sparse matrix is a matrix in which most of the elements are zero

In [67]:
lo=LogisticRegression(solver="liblinear")

In [68]:
pipe=make_pipeline(trf,lo)

In [69]:
y_train

75873    1
68954    0
41933    1
57190    1
4941     0
        ..
32104    0
42107    0
19172    1
69648    1
45515    1
Name: result, Length: 32515, dtype: int64

In [70]:
pipe.fit(x_train,y_train)

C:\python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('logisticregression', LogisticRegression(solver='liblinear'))])

In [71]:
y_pred=pipe.predict(x_test)

In [72]:
from sklearn.metrics import accuracy_score

In [75]:
print(accuracy_score(y_test, y_pred))

0.7972027972027972

In [73]:
from sklearn.metrics import confusion_matrix

In [74]:
print(confusion_matrix(y_pred,y_test))

[[5677 1479]
 [1769 7091]]

In [259]:
x_test

,batting_team,bowling_team,city,runs_left,balls_left,wickets_rem,crr,rrr,total_runs
11197,Kolkata Knight Riders,Kings XI Punjab,Kolkata,89,49,6,7.183099,10.897959,174
61941,Sunrisers Hyderabad,Royal Challengers Bangalore,Bangalore,115,94,10,11.769231,7.340426,166
69660,Mumbai Indians,Sunrisers Hyderabad,Hyderabad,58,73,10,7.021277,4.767123,113
87540,Rajasthan Royals,Kings XI Punjab,Jaipur,50,23,8,9.278351,13.043478,200
72012,Mumbai Indians,Royal Challengers Bangalore,Mumbai,165,116,10,7.500000,8.534483,170
...,...,...,...,...,...,...,...,...,...
25915,Royal Challengers Bangalore,Mumbai Indians,Mumbai,102,61,6,8.338983,10.032787,184
43607,Mumbai Indians,Kolkata Knight Riders,Kolkata,15,11,6,7.926606,8.181818,159
63963,Kings XI Punjab,Rajasthan Royals,Ahmedabad,13,5,4,9.286957,15.600000,191
1343,Mumbai Indians,Royal Challengers Bangalore,Bangalore,124,88,6,3.375000,8.454545,142
47105,Sunrisers Hyderabad,Chennai Super Kings,Hyderabad,216,111,10,4.666667,11.675676,223

In [260]:
x_test.iloc[5]

batting_team    Kolkata Knight Riders
bowling_team      Chennai Super Kings
city                          Chennai
runs_left                          93
balls_left                         64
wickets_rem                         9
crr                         10.392857
rrr                           8.71875
total_runs                        190
Name: 39670, dtype: object

In [261]:
pipe.predict_proba(x_test) #this is giving probablity of winning for bith the teams

array([[0.70525363, 0.29474637],
       [0.06024538, 0.93975462],
       [0.01702926, 0.98297074],
       ...,
       [0.80132314, 0.19867686],
       [0.55130266, 0.44869734],
       [0.95431293, 0.04568707]])

In [262]:
result=pipe.predict_proba(x_test)
lose=np.round(result.T[0]*100,1)
win=np.round(result.T[1]*100,1)
lose

array([70.5,  6. ,  1.7, ..., 80.1, 55.1, 95.4])

In [263]:
win

array([29.5, 94. , 98.3, ..., 19.9, 44.9,  4.6])

In [274]:
data = [
    ["Kolkata Knight Riders", "Mumbai Indians", "Chandigarh", 89, 49, 10, 7.183099, 10.897959, 174]
]
columns = ["batting_team", "bowling_team", "city", "runs_left", "balls_left", "wickets_rem", "crr", "rrr", "total_runs"]

df = pd.DataFrame(data, columns=columns)

In [275]:
df

,batting_team,bowling_team,city,runs_left,balls_left,wickets_rem,crr,rrr,total_runs
0,Kolkata Knight Riders,Mumbai Indians,Chandigarh,89,49,10,7.183099,10.897959,174

In [278]:
result1=pipe.predict_proba(df)

In [279]:
pipe.predict_proba(df)

array([[0.41119611, 0.58880389]])

In [288]:
lose.dtype

dtype('float64')

In [77]:
dt= DecisionTreeClassifier()

In [78]:
pipe1=make_pipeline(trf,dt)

In [79]:
pipe1.fit(x_train,y_train)

C:\python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

In [80]:
y_pred1=pipe1.predict(x_test)

In [81]:
print(accuracy_score(y_test, y_pred1))

0.9907592407592407

In [82]:
print(confusion_matrix(y_pred1,y_test))

[[7373   75]
 [  73 8495]]

In [ ]:
#now using random forest

In [83]:
from sklearn.ensemble import RandomForestClassifier

In [91]:
rf=RandomForestClassifier(n_estimators=200)

In [92]:
pipe2=make_pipeline(trf,rf)

In [93]:
pipe2.fit(x_train,y_train)

C:\python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('randomforestclassifier',
                 RandomForestClassifier(n_estimators=200))])

In [94]:
y_pred2=pipe2.predict(x_test)

In [95]:
print(accuracy_score(y_test, y_pred2))

0.9981893106893107

In [96]:
print(confusion_matrix(y_pred2,y_test))

[[7428   11]
 [  18 8559]]

In [98]:
param_dist={
    "max_depth":[1,2,3,4,5,None], 
    "min_samples_split":[2,5,10]   
}

In [99]:
from sklearn.model_selection import GridSearchCV

In [114]:
grid=GridSearchCV(dt,param_grid=param_dist,cv=10,n_jobs=-1)

In [115]:
pipe3=make_pipeline(trf,grid)

In [116]:
pipe3.fit(x_train,y_train)

C:\python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('gridsearchcv',
                 GridSearchCV(cv=10, estimator=DecisionTreeClassifier(),
                              n_jobs=-1,
                              param_grid={'max_depth': [1, 2, 3, 4, 5, None],
                                          'min_samples_split': [2, 5, 10]}))])

In [111]:
y_pred3=pipe3.predict(x_test)

In [112]:
print(accuracy_score(y_test, y_pred3))

0.9903846153846154

In [113]:
print(confusion_matrix(y_pred3,y_test))

[[7369   77]
 [  77 8493]]

In [118]:
param_dist2={
    "n_estimators":[100,200,300],
    "max_depth":[1,2,3,4,5,None],
    "min_samples_split":[2,5,10]
}

In [119]:
grid2=GridSearchCV(rf,param_grid=param_dist2,cv=10,n_jobs=-1)

In [120]:
pipe4=make_pipeline(trf,grid2)

In [121]:
pipe4.fit(x_train,y_train)

C:\python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('gridsearchcv',
                 GridSearchCV(cv=10,
                              estimator=RandomForestClassifier(n_estimators=200),
                              n_jobs=-1,
                              param_grid={'max_depth': [1, 2, 3, 4, 5, None],
                                          'min_samples_split': [2, 5, 10],
                                          'n_estimators': [100, 200, 300]}))])

In [122]:
y_pred4=pipe4.predict(x_test)

In [123]:
print(accuracy_score(y_test, y_pred4))

0.9980644355644356

In [124]:
print(confusion_matrix(y_pred4,y_test))

[[7427   12]
 [  19 8558]]